<div id="pageBody">
    <div>
        <span>User name</span>
        <input type="text" id="userName"/>
    </div>
    <div>
        <span>User surname</span>
        <input type="text" id="userSurname"/>
    </div>
    <div>
        <span>User age</span>
        <input type="number" id="userAge"/>
    </div>
    <div>
        <p>User adress</p>
        <div>
            <span>Street</span>
            <input type="text" id="userStreet"/>
        </div>
        <div>
            <span>House number</span>
            <input type="number" id="userHouseNumber"/>
        </div>
        <div>
            <span>Post index</span>
            <input type="text" id="userPostIndex"/>
        </div>
    </div>
    <input type="submit" onclick="validateModel()"/>
</div>