<div id="pageBody">
    <div>
        <span>User name</span>
        <input type="text" id="userName"/>
    </div>
    <div>
        <span>User surname</span>
        <input type="text" id="userSurname"/>
    </div>
    <div>
        <span>User age</span>
        <input type="number" id="userAge"/>
    </div>
    <input type="submit" onclick="validateModel()"/>
</div>